<div *ngIf="!top250Subjects" [el-loading]="!top250Subjects" style="margin-top:10px;height:100px">
</div>
<div class="list">
  <div *ngFor="let subject of top250Subjects" class="subject-item" [routerLink]="['/detail', subject.id]">
    <div class="image">
      <p class="rating">{{subject.rating.average}}</p>
      <img [src]="subject.images.small" class="thumbnail" [alt]="'《'+subject.title+'》'+'海报'">
    </div>
    <div class="content">
      <p class="title">{{subject.title}}</p>
      <div class="director">
        <a *ngFor="let cast of subject.casts">{{cast.name}}</a>
      </div>
      <div class="director">
        <a *ngFor="let genre of subject.genres">{{genre}}</a>
      </div>
    </div>
  </div>
</div>