<div class="slider">
  <div class="header">
    <h1>豆瓣电影</h1>
  </div>
  <div class="tabs">
    <a *ngFor="let module of modules"></a>
    <a *ngFor="let module of modules" [class.selected]="module === selectedModule" class="normal" (click)="goToModule(module)">{{module.link}}</a>
  </div>
  <div class="footer">
    <a href="https://github.com/NobelLiu/douban">View on Github</a>
  </div>
</div>
<div class="main">
  <div class="header">
    <h3 class="title">正在热映</h3>
    <el-input placeholder="搜索" icon="search" [model]="searchText" class="search-input">
    </el-input>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>