<div el-container direction="vertical" class="demo-box">
  <div el-header>
    <div class="title-col">
      <h1>豆瓣电影</h1>
      <el-input placeholder="搜索" icon="search" [model]="searchText" class="search-input">
      </el-input>
    </div>
    <el-menu [model]="1" (modelChange)="navigationChanged($event)" class="el-menu-demo" mode="horizontal">
      <el-menu-item index="1">正在热映</el-menu-item>
      <el-menu-item index="2">即将上映</el-menu-item>
      <el-menu-item index="3">Top250</el-menu-item>
    </el-menu>
  </div>
  <div el-main>
    <router-outlet></router-outlet>
  </div>
</div>