/* You can add global styles to this file, and also import other style files */

@import "~element-angular/theme/index.css";
h1, h2, a {
    color: #339542;
}

a {
    font-size: 14px;
}

html, body, app-root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

app-root {
    display: flex;
    flex-direction: column;
}